<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
          crossorigin="anonymous">
    <title>Add New Blog</title>
</head>
<body>
    <div class="container mt-4">
        <% if(error!=null) {%>
            <div class="alert alert-danger " role="alert">
                <%=error%>
            </div>
        <%} %>
        <div class="alert alert-success " role="alert">
            <a href="/">back to index</a>
        </div>
        <form action="/add" method="POST">
            <div class="row m-2 mt-4">
                <h3 class="text-muted">Title</h3>
                <input type="text" class="col-12 form-control" name="title"/>
            </div>
            <div class="row m-2 mt-4">
                <h3 class="text-muted">Categories</h3>
                <input type="text" class="col-12 form-control" name="categories"/>
            </div>
            <div class="row m-2 mt-4">
                <h3 class="text-muted">Content</h3>
                <textarea class="col-12 form-control" name="content"></textarea>
            </div>

            <div class="row m-2 mt-3">
                <button class="col-sm-5 col-12 btn btn-primary mt-2" type="submit">Submit</button>
                <button class="col-sm-5 offset-sm-2 col-12 btn btn-secondary mt-2" type="reset">Cancel</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
            crossorigin="anonymous">  
    </script>
</body>
</html>