<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
          crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container mt-4">
        <div class="alert alert-success text-end" role="alert">
            <a href="/add" class="btn btn-secondary">New Post</a>
        </div>

        <% blogs.forEach((blog) => { %>
            <a href="/blog/<%=blog.id%>" class="text-reset text-decoration-none">
                <h3 class="bg-light m-3"> <%= blog.title %> </h3>
            </a>
        <% }); %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
            crossorigin="anonymous">  
    </script>
</body>
</html>